.watcha-react-slider-wrap {
  position: relative;
  display: grid;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr;
  z-index: 0;
}

.watcha-react-slider-item {
  grid-area: 1 / 1;
  margin: 0;
  padding: 0;
}

.watcha-react-slider-content {
  position: relative;
}
